<mat-card>
  <div>
    <mat-card>
      <form #searchForm="ngForm" (ngSubmit)="SearchUsagers(searchForm)" >
        <div class="row">
          <div class="col-10">
            <mat-form-field>
              <input matInput name="searchUsager" ngModel placeholder="Search Usager">
            </mat-form-field>
          </div>
          <div class="col-2">
            <button mat-raised-button color="primary" type="submit" ><mat-icon>search</mat-icon>Search</button>
          </div>
        </div>
      </form>
    </mat-card>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Profile: </th>
        <td mat-cell *matCellDef="let element"><span class="mobile-label">Profile:</span> <img class="imageView p-1" [src]="element.symbol"/> </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="full_name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> <span class="mobile-label">Name:</span> {{element.full_name}} </td>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let element"> <span class="mobile-label">Country:</span> {{element.country}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
      <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="selectedRow(row, i)" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
    </table>
  </div>
  <div class="button-row text-right mt-2">
    <button mat-raised-button color="warn" (click)="cancelSelectRow(searchForm)" type="button" >
      Cancel
    </button>
    <button mat-raised-button class="ml-2" color="primary" (click)="gotoSelectedScreen();" [disabled]="selectRow.length==0" type="button">
      Selecte
    </button>
  </div>
</mat-card>